*{
    font-family: 'Single Day', cursive;
    list-style: none;
}
.con {
    margin:auto;
    /* margin-left: auto;
    margin-right: auto; */
}
.img-box, .product-name{
    float : left;
}
.product-name{
    padding-left: 30px;
}
.cell {
    float: left;
    box-sizing: border-box;
    margin-bottom: 20px;
}
/* .row::after {
    content: "";
    display: block;
    clear: both;
} */
.img-box > img {
    /* display: flex; */
    width: 100%;
}


/*커스텀*/
html,
body {
    overflow-x: hidden;
}
.con {
    max-width: 100%;
}


.list > ul > li {
    width: calc(100% / 2);
}

.list > ul > li {
    padding: 0 10px;
}
.list > ul {
    margin: 0 -20px;
}

.list > ul > li > .product-name {
    text-align: Center;
    font-weight: bold;
}
.list > ul > li:hover > .product-name {
    text-decoration: underline;
}
.list > ul > li > .product-price {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}
.list > ul > li > .product-loc {
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}
.list > ul > li > .product-price::before {
    content: "￦";
    font-size: 1rem;
    font-weight:normal;
}
