*{
    margin: 0;
    padding: 0;
    font-family: 'Single Day', cursive;
    list-style: none;}


.product_view{
    padding: 50px;
}

.product_view, .product_img, .product_info, .likeit{ 
    float:left;
}
.product_img, .product_info{
    height: 300px;
}

.product_info{
    padding-left: 100px;
}
   
.product_promotionimg{
    clear : both;
    padding-top:30px;
}

.product_promotionimg img{
    width: 100%;
}

input:hover{
    background : red;
}